@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#header-image {
    text-align: center;
    height: 10em;
    background-image: url(../img/bg-1.jpg);
    background-position: center;
    background-size: cover;
}

#logo {
    box-shadow: 0 -10px 10px -7.5px rgba(0, 0, 0, 0.2);
    background-image: url(../img/header-logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 13.5em;
}

@media only screen and (max-width: 768px) {
    #header-image {
        height: 5em;
    }
    #logo {
        height: 7em;
    }
}

#tabs {
    z-index: 25;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.15);
}

.tab {
    margin: 0 auto;
    min-width: 100px;
    width: 7%;
    font-weight: bold;
    color: #1292A5;
    text-align: center;
    padding: 1em;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    text-transform: uppercase;
    font: 1em/normal sans-serif;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transition: 0.25s;
}

.tab:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.tab a {
    padding: 16px;
    color: #1292A5;
    text-decoration: none;
}

.tab-active {
    box-shadow: 0 2px 0 #1292A5;
}

@media only screen and (max-width: 768px) {
    .tab {
        width: 90vw;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    .tab-active {
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 0 #1292A5;
    }
}

#contact-phone {
    margin-top: 40px;
    margin-left: 10px;
    background-image: url('../img/phone-receiver.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 36px;
    padding-right: 10px;
    font-size: 18px;
}

#contact-address {
    margin-top: 24px;
    margin-left: 10px;
    background-image: url('../img/notebook.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 36px;
    padding-right: 10px;
    font-size: 18px;
}

#contact-email {
    margin-top: 24px;
    margin-left: 10px;
    background-image: url('../img/close-envelope.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 36px;
    padding-right: 10px;
    font-size: 18px;
}

#contact-youtube {
    margin-top: 24px;
    margin-left: 10px;
    background-image: url('../img/youtube.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 36px;
    padding-right: 10px;
    font-size: 18px;
}

#contact-facebook {
    margin-top: 24px;
    margin-left: 10px;
    background-image: url('../img/facebook-logo.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 36px;
    padding-right: 10px;
    font-size: 18px;
}

#dim-window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
    z-index: 50;
}

#shop-message {
    transform: translate3d(0, -55em, 0);
    top: 20vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transition: 0.25s;
    z-index: 51;
    position: fixed;
    width: 40em;
    height: 12em;
    background-color: #fff;
    color: #1292A5;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

svg path {
    fill: #000;
}

@media only screen and (max-width: 768px) {
    #shop-message {
        height: 15em;
        top: 7.5em;
        width: 20em;
    }
}

#shop-message h1 {
    margin-bottom: 0px;
    text-align: center;
    font: 3em/normal sans-serif;
    font-weight: 900;
    font-family: 'Lora', serif;
}

#shop-message p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.1em;
}

#close-shop-message-icon {
    background: #1292A5;
    -webkit-mask: url('../img/ic-close-white-24px.svg') center / contain no-repeat;
    cursor: pointer;
    background-size: cover;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    z-index: 5;
    width: 2em;
    height: 2em;
    transition: 0.2s;
}

#close-shop-message-icon:hover {
    opacity: 0.75;
}

.container {
    position: absolute;
    left: 0; 
    right: 0;
    transition: 0.4s;
    width: 80vw;
    max-width: 928px;
    margin: 0.5em auto;
    padding: 0 40px 0 40px;
    font-family: 'Roboto', sans-serif;
}

#home {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

#contact {
    transform: translate3d(100vw, 0, 0);
    opacity: 0;
}

#contact a {
    font-weight: normal;
}

#faq {
    transform: translate3d(200vw, 0, 0);
    opacity: 0;
}

#pawsb {
    transform: translate3d(300vw, 0, 0);
    opacity: 0;
}

#evidence {
    transform: translate3d(400vw, 0, 0);
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    #video-container {
        display: none;
    }
}
#video-thumbnail-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    column-count: 5;
}

#video-active {
    background-color: #000;
    width: 80%;
    max-width: 560px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.video-thumbnail {
    cursor: pointer;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 70px;
    opacity: 0.5;
    background-color: #000;
    display: block;
    margin: 10px;
    float: left;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.video-thumbnail.active {
    opacity: 0.8;
    background-color: #000;
}

.video-thumbnail:hover {
    opacity: 1.0;
}

.quote {
    opacity: 0.7;
    text-align: center;
    font: 1.5em/normal serif;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.75em;
    margin-bottom: 16px;
}

.quote-small {
    margin-top: 16px;
    opacity: 0.7;
    text-align: center;
    font: 1.1em/normal serif;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.75em;
    margin-bottom: 32px;
}

#quote-container {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 48px;
}

#dot-container {
    text-align: center;
}

.quote-dot {
    width: 0.75em;
    height: 0.75em;
    background-color: #ccc;
    display: inline-block;
    border-radius: 10em;
    margin: 0.5em;
    transition: 0.25s;
}

.quote-dot-active {
    background-color: #999;
}

.quote-dot:hover {
    background-color: #999;
    cursor: pointer;
}

.spacer {
    height: 20em;
}

.centre {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1em;
    text-align: center;
}

.container h1 {
    font-family: 'Lora', serif;
    font-size: 2em;
    margin-bottom: -0.4em;
    color: #1292A5;
}

.container h2 {
    margin-bottom: -0.4em;
}

.container p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.75em;
    font-size: 1.15em;
}

.container li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
}

@media only screen and (max-width: 768px) {
    .container p {
        font-size: 0.9em;
    }
    
    .container h1 {
        font-size: 1.25em;
    }
    
    .container li {
        font-size: 0.9em;
    }
}

.progress-bar {
    width: 0%;
    background-color: #1292A5;
    text-align: center;
    color: white; 
    display: block;
}

.progress {
    display: block;
    background-color: #D1F4FA;
    height: 24px;
    text-align: center;
}

.bar {
    transition: 1s;
    color: #fff;
    display: block;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1292A5), color-stop(100%,#1292A5));
    height: 100%;
    width: 0%;
    line-height: 24px;
    opacity: 0.8;
}

.progress-fill {
    width: 50%;
    background-color: #ccc;
    display: inline;
}

.container .contact-link {
    line-height: 0.8em;
    font-size: 1.25em;
}

.container b {
    background-color: #D1F4FA;
    color: #000;
    font-weight: normal;
    border-radius: 3px;
}

.container a {
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.container a {
    color: #000;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

#schools {
    padding: 0;
    padding-top: 10px;
    column-count: 3;
}

#schools li {
    break-inside: avoid;
    display: block;
    width: 200px;
    float: left;
    margin: 0.5em;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5);
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.2em;
    font-style: italic;
    transition: 0.2s;
}

#schools li:hover {
    box-shadow: 0 7px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translate3d(0, -5px, 0);
}

@media only screen and (max-width: 768px) {
    
    #schools {
        padding: 0;
        padding-top: 10px;
        column-count: 2;
    }
    
    #schools li {
        width: 80%;
        margin-left: -0.5em;
    }
}

.photo-right {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 350px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;
    float: right;
}

.photo-left {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 350px;
    padding: 0px;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}

.video-container {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    column-count: 3;
}

@media only screen and (max-width: 768px) {
    
    .photo-right {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 0px;
        margin: 1em 1em;
    }
    
    .photo-left {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 0px;
        margin: 1em 1em;
    }
    
}

.faq-title {
    font-family: 'Lora', serif;
    font-weight: 900;
    font-size: 1.6em;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.faq-answer {
    opacity: 0.75;
    font-size: 1.1em;
    line-height: 1.4em;
}

@media only screen and (max-width: 768px) {
    
    .faq-title {
        font-family: 'Lora', serif;
        font-weight: 900;
        font-size: 1.2em;
        text-align: center;
        margin-top: 40px;
        padding: 20px;
    }
    
}